<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jclz.fruit.dao.AssistanceMapper">
  <resultMap id="BaseResultMap" type="com.jclz.fruit.entity.Assistance">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fruit_id" jdbcType="INTEGER" property="fruitId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="assistance_status" jdbcType="INTEGER" property="assistanceStatus" />
    <result column="success_time" jdbcType="VARCHAR" property="successTime" />
    <result column="address_id" jdbcType="INTEGER" property="addressId" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="phone" jdbcType="VARCHAR" property="phone" />
      <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fruit_id, user_id, create_time, assistance_status, success_time,address_id, name, phone, address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from assistance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from assistance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jclz.fruit.entity.Assistance" keyProperty="id"
          useGeneratedKeys="true" keyColumn="id">
    insert into assistance (id, fruit_id, user_id, 
      create_time, assistance_status, success_time,address_id, name, phone, address
      )
    values (#{id,jdbcType=INTEGER}, #{fruitId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=VARCHAR}, #{assistanceStatus,jdbcType=INTEGER}, #{successTime,jdbcType=VARCHAR}
      , #{addressId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jclz.fruit.entity.Assistance" keyProperty="id"
          useGeneratedKeys="true" keyColumn="id">
    insert into assistance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fruitId != null">
        fruit_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="assistanceStatus != null">
        assistance_status,
      </if>
      <if test="successTime != null">
        success_time,
      </if>
        <if test="addressId != null">
            address_id,
        </if>
        <if test="name != null">
            name,
        </if>
        <if test="phone != null">
            phone,
        </if>
        <if test="address != null">
            address,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fruitId != null">
        #{fruitId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="assistanceStatus != null">
        #{assistanceStatus,jdbcType=INTEGER},
      </if>
      <if test="successTime != null">
        #{successTime,jdbcType=VARCHAR},
      </if>
        <if test="addressId != null">
            #{addressId,jdbcType=INTEGER},
        </if>
        <if test="name != null">
            #{name,jdbcType=VARCHAR},
        </if>
        <if test="phone != null">
            #{phone,jdbcType=VARCHAR},
        </if>
        <if test="address != null">
            #{address,jdbcType=VARCHAR},
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jclz.fruit.entity.Assistance">
    update assistance
    <set>
      <if test="fruitId != null">
        fruit_id = #{fruitId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="assistanceStatus != null">
        assistance_status = #{assistanceStatus,jdbcType=INTEGER},
      </if>
      <if test="successTime != null">
        success_time = #{successTime,jdbcType=VARCHAR},
      </if>
        <if test="addressId != null">
            address_id = #{addressId,jdbcType=INTEGER},
        </if>
        <if test="name != null">
            name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="phone != null">
            phone = #{phone,jdbcType=VARCHAR},
        </if>
        <if test="address != null">
            address = #{address,jdbcType=VARCHAR},
        </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jclz.fruit.entity.Assistance">
    update assistance
    set fruit_id = #{fruitId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      assistance_status = #{assistanceStatus,jdbcType=INTEGER},
      success_time = #{successTime,jdbcType=VARCHAR},
      address_id = #{addressId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectStayByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from assistance
        where user_id = #{userId,jdbcType=INTEGER}
        and fruit_id = #{fruitId,jdbcType=INTEGER}
        and assistance_status =0
    </select>
    <select id="assistanceList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from assistance
        where user_id = #{userId,jdbcType=INTEGER}
        order by create_time desc
        limit #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
    </select>
    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from assistance
        where user_id = #{userId,jdbcType=INTEGER}
        and assistance_status =0
    </select>
    <select id="selectMonthSuccess" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from assistance
        where user_id = #{userId,jdbcType=INTEGER}
        and assistance_status =1
        and create_time &gt; #{firstDayOfMonth,jdbcType=VARCHAR}
    </select>
</mapper>