<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jclz.fruit.dao.UserAuthsMapper">
  <resultMap id="BaseResultMap" type="com.jclz.fruit.entity.UserAuths">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
    <result column="third_type" jdbcType="VARCHAR" property="thirdType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, unionid, name, gender, icon_url, third_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_auths
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_auths
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jclz.fruit.entity.UserAuths" keyProperty="id"
          useGeneratedKeys="true" keyColumn="id">
    insert into user_auths (id, user_id, unionid, 
      name, gender, icon_url, 
      third_type)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{unionid,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{iconUrl,jdbcType=VARCHAR}, 
      #{thirdType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jclz.fruit.entity.UserAuths" keyProperty="id"
          useGeneratedKeys="true" keyColumn="id">
    insert into user_auths
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="unionid != null">
        unionid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="iconUrl != null">
        icon_url,
      </if>
      <if test="thirdType != null">
        third_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null">
        #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="thirdType != null">
        #{thirdType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jclz.fruit.entity.UserAuths">
    update user_auths
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="unionid != null">
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null">
        icon_url = #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="thirdType != null">
        third_type = #{thirdType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jclz.fruit.entity.UserAuths">
    update user_auths
    set user_id = #{userId,jdbcType=INTEGER},
      unionid = #{unionid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      icon_url = #{iconUrl,jdbcType=VARCHAR},
      third_type = #{thirdType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByUnionid" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user_auths
        where unionid = #{unionid,jdbcType=VARCHAR}
    </select>
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user_auths
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
</mapper>